/*.container{*/
/*    max-width: 1596px;*/
/*    margin: auto;*/
/*}*/
.benefit{
    width: 1596px;
    display: flex;
    /*justify-content: space-between;*/
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.benefit-item{
    flex-shrink: 1;
    padding: 50px;
    background-color: white;
}
.benefit-description{
    font-size: 18px;
    color: #4C4C4D;
;
}
.benefit-number{
    font-size: 80px;
    font-weight: bold;
    display: flex;
    justify-content: end;
}
.benefit-title{
    font-weight: 600;
    font-size: 18px;
    margin: 50px 0 14px 0;
}