#header-top{
    background-color: #FF9500;
    height: 55px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-top img{
    margin-left: 23px;
}
#header-bottom{
    width: 1596px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #F1F1F3;
}
#header-bottom div{
    display: flex;
    align-items: center;
}
#header-bottom nav{
    margin-left: 50px;
}
#header--logo{
    background-image: url(images/Logo.svg);
    height: 54px;
    width: 54px;
    background-repeat: no-repeat;
    border-radius: 8px;
}
#header-bottom ul{
    display: flex;
}
header{
    margin: 20px 30px;
}
#header-bottom ul li{
    list-style: none;
    padding: 14px 24px;
}