html{
    font-size: 62.5%;
}
body{
    background-image: url('https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop');
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-card {
    margin: 3rem;
    padding: 3rem;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 1.6rem;
    text-align: center;
}
h1{
    color: #1e293b;
    font-size: 6.4rem;
    margin-bottom: 0;
    font-weight: 700;
}
.heading{
    color: #c084fc;
    font-size: 6.4rem;
    font-weight: 700;
    margin: 2rem;
}
.description{
    color: #334155;
    font-size: 2rem;
    margin-bottom: 5rem;
    box-sizing: border-box;
}
.cta > span {
    /*width: 30rem;*/
    font-size: 1.8rem;
    font-weight: 600;
    color: #ffffff;
    background: #a855f7;
    padding: 2rem 2.4rem;
    border-radius: 50rem;
    margin: 2rem;
    text-align: center;
    box-sizing: border-box;
}
.cta > span:hover {
    background: #9333ea;
}
.logo-f8{
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
    border: 0.3rem solid rgba(192, 132, 252, 0.6);
}
.logo-des{
    font-size: 2rem;
    color: #334155;
}
.logo-des > strong{
    /*font-size: 2rem;*/
    color: deeppink;
    font-weight: 700;
}
.logo{
    margin-top: 5rem ;
}
label{
    color: #1e293b;
    font-size: 1.8rem;
}
.advice-heading{
    color: #1e293b;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 2rem ;
}
.advice-des{
    color: #334155;
    font-size: 1.8rem;
    font-weight: 400;
}
.advice{
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    margin-top: 2rem ;
    margin-bottom: 4rem;
}
#turn:checked ~ .advice{
    background-color: rgba(192, 132, 252, 0.35);
}
#turn:checked ~ .advice .advice-heading, #turn:checked ~ .advice .advice-des{
    color: #6b21a8;
}
.check-icon{
    font-size: 1.6rem;
}
.icon-span{
    margin: 2.4rem;
}
.v-icon{
    width: 1.6rem;
}
.footer {
    padding-top: 2.4rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: white;
}
.footer-des {
    font-size: 1.6rem;
    border-top: 0.125rem solid rgba(192, 132, 252, 0.6);
    padding-top: 4rem;
    margin-bottom: 0;
}